*{
    margin:0;
    padding:0;
    box-sizing:border-box;;
}
.container{
    display:flex;
    width: fit-content;
    justify-content: center;
    align-items: flex-end;
    min-height: fit-content;
    min-width: fit-content;
    background-color: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.popup{
    height: 100%;
}
.middleContentImage{
    width:100%;
}
.middleContentImage img{
    border-radius: 20px;
}
.navigation{
    position: relative;
    width:540px;
    height:70px;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li{
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size:1.5em;
    text-align: center;
    color:#fff;
    transition:.5s;
}

.navigation ul li.active a .icon{
    transform: translateY(-37px);
}

.navigation ul li a .text{
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}
.navigation ul li.active a .text{
    opacity: 1;
    transform:translateY(10px);
}
.navigation ul li a .circle{
    position: absolute;
    display: block;
    width:50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border:1.8px solid #fff;
    transform: translateY(-37.5px) scale(0);
}

.navigation ul li.active a .circle{
    transition: .3s;
    transition-delay: .3s;
    transform: translateY(-37.5px) scale(1);

}


.indicator{
    position: absolute;
    top:-50%;
    width:70px;
    height:70px;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    border:6px solid #243a4f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.indicator::before{
    content:'';
    position: absolute;
    top:50%;
    left:-22px;
    width:20px;
    height:20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0  transparent;
}

.indicator::after{
    content:'';
    position: absolute;
    top:50%;
    right:-22px;
    width:20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0  transparent;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
     transform: translateX(calc(70px * 4));
 }
