*{
    margin:0;
    padding:0;
    box-sizing:border-box;;
}
.barContainer {
    display: flex;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    min-height: fit-content;
    min-width: fit-content;
    background-color: transparent;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.popup {
    width: 100%;
}

.middleContentImage {
    height: 100%;
}

.middleContentImage img {
    border-radius: 20px;
}

.navigation {
    position: relative;
    height: 380px;
    width: 60px;
    background: linear-gradient(
    #F71735,#FF0000, #FF7878);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.navigation ul li {
    position: relative;
    height: 70px;
    width: 70px;
    list-style: none;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size:1.5em;
    text-align: center;
    color:#fff;
    transition:.5s;
}

.navigation ul li.active a .icon{
    transform: translateY(-37px);
}

.navigation ul li a .text{
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}
.navigation ul li.active a .text{
    opacity: 1;
    transform:translateY(10px);
}
.navigation ul li a .circle{
    position: absolute;
    display: block;
    width:50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border:1.8px solid #fff;
    transform: translateY(-37.5px) scale(0);
}

.navigation ul li.active a .circle{
    transition: .3s;
    transition-delay: .3s;
    transform: translateY(-81px) scale(1);

}


.indicator{
    position: absolute;
    left:0;
    top: 0;
    transform: translateX(0);
    width:70px;
    height:70px;
    background: linear-gradient(
            #F71735,#FF0000, #FF7878);
    border:6px solid #243a4f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform  .5s;
}

.indicator::before{
    content:'';
    position: absolute;
    left:-22px;
    width:20px;
    height:20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0  transparent;
}

.indicator::after{
    content:'';
    position: absolute;
    right:-22px;
    width:20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0  transparent;
}

.indicator::before, .indicator::after {
    top: auto; /* 기본값 제거 */
    bottom: 10px; /* 아래쪽에서부터의 위치 */
    left: -20px; /* 왼쪽에서부터의 위치 */
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateY(calc(70px * 0)) translateX(35%);
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateY(calc(70px * 1)) translateX(35%);
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateY(calc(70px * 2)) translateX(35%);
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateY(calc(70px * 3)) translateX(35%);
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateY(calc(70px * 4)) translateX(35%);
}


.navigation ul li.active a .icon {
    transform: translateX(30px) translateY(-3px);
}
.navigation ul li.active a .circle {
    transform: translateX(30px) translateY(-3px);
}
.navigation ul li.active a .text {
    transform: translateX(30px) translateY(38px);
}