@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Single+Day&display=swap');


.divBtn{
    border-radius: 5px;
    width: 93%;

}
.myInfoBtn{
    background-color: white;
}
.levelUpCondition{
    font-family: "Single Day", serif;
}